@model List<Department>
@{
    Layout = "_MyLayout";
}
@*section section1{

    this is the section kid

}*@
<h1>Departments</h1>

<table class="table table-hover table-bordered width =50%">

    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Manger</td>
        <td>Action</td>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.ID</td>
        <td>@item.name</td>
        <td>@item.manager</td>
        <td>
            <a asp-action="Edit" asp-controller="Department" asp-route-id="@item.ID" style="background-color : aquamarine" class="btn btn-alert-success">Edit</a>
            <a asp-action="Delete" asp-controller="Department" asp-route-id="@item.ID" style="background-color : red" class="btn btn-warning">Delete</a>
        </td>

    </tr>
}

</table>

<a asp-action="add" asp-controller="department" class="btn btn-success">Add new Dept</a>


